<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="intro-content">
  <div class="intro-container">
    <swiper-container #swiper pagination="true" slides-per-view="1" loop="false">
      <swiper-slide *ngFor="let slide of introSlides">
        <div class="intro-slide">
          <h2 class="intro-title">{{ slide.title }}</h2>
          <img class="intro-image" [src]="slide.image" [alt]="slide.title" />
          <p class="intro-description">{{ slide.description }}</p>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="intro-footer">
      <ion-button class="intro-btn" expand="block" (click)="nextSlide(swiper)">
        {{ getCurrentSlide() === introSlides.length - 1 ? 'Empezar' : 'Siguiente' }}
      </ion-button>
    </div>
  </div>
</ion-content>

