<ion-header >
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    #swiper
    pagination="true"
    slides-per-view="1"
    loop="false"
  >
    <swiper-slide *ngFor="let genre of genres; let i = index">
      <div class="">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p>{{ genre.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <div>
    <ion-button expand="block" (click)="nextSlide(swiper)">
      {{ currentSlide === genres.length - 1 ? 'Empezar' : 'Siguiente' }}
    </ion-button>
  </div>
</ion-content>

