<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="profile-default-image ion-text-center">
    <p>Ingresa tus datos</p>
  </figure>
  <form [formGroup]="register" (ngSubmit)="registerUser(register.value)">
    <ion-item>
      <ion-input
        label="Nombre"
        labelPlacement="floating"
        formControlName="name"
        (ionBlur)="presentToast('name')"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Apellido"
        labelPlacement="floating"
        formControlName="apellido"
        (ionBlur)="presentToast('apellido')"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        formControlName="email"
        (ionBlur)="presentToast('email')"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="password"
        label="Password"
        labelPlacement="floating"
        formControlName="password"
        (ionBlur)="presentToast('password')"
      ></ion-input>
    </ion-item>
    <ion-button
      expand="full"
      shape="round"
      color="success"
      type="submit"
      [disabled]="register.invalid"
    >
      Login
    </ion-button>
  </form>
  <div class="ion-text-center" style="margin-top: 16px">
    <ion-text>
      <ion-router-link routerLink="/register"> Login aquí</ion-router-link>
    </ion-text>
  </div>
</ion-content>
