.slide-content {
  text-align: center;
  padding: 10px;
}

.slide-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 1.5% 0;
}

.slide-content h2 {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #ffffff;
}

.slide-content p {
  font-size: 14px;
  color: #fff;
  text-align: justify;
}

.card {
  padding: var(--espaciado-base);
  background-color: var(--color-claro);
}

.bg-card-test {
  background: #f44ff4;
}

.rotate {
  animation: girar 0s linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}